<div>
  <h4>4 Мая 2017</h4>
  <p *ngFor="let word of words">{{word.word}} - {{word.translation?.text}}</p>

  <form [formGroup]="form" (ngSubmit)="addWords()">
    <textarea class="w-100" [formControl]="newWordsControl"></textarea>
    <span
      *ngIf="newWordsControl.dirty && newWordsControl.invalid && newWordsControl.errors.required">
          Field is required.
        </span>
    <span
      *ngIf="newWordsControl.dirty && newWordsControl.invalid && newWordsControl.errors.pattern">
          Only cyrillic.
        </span>
    <button class="btn btn-primary">Add New</button>
  </form>
</div>
